<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script>
      const doEdit = (id)=>{
        location = '/admin_pages/edit/'+id;
      }
      const doDelete = async (id) =>{
        await fetch('/api/v1/admin', {
          method: 'DELETE', // or 'PUT'
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({id}),
        })
          .then((response) => response.json())
          .then((data) => {
            
          })
          .catch((error) => {
            console.error('Error:', error);
          });
          location = "/admin_pages";
      }
    </script>

    <button onclick="location='/home'">Home</button> &nbsp;| &nbsp;
    <button onclick="location='/customer'">Customer</button> &nbsp;| &nbsp;
    <button onclick="location='/about'">About</button> &nbsp;| &nbsp;
    <button onclick="location='/login'">Logout</button> &nbsp;| &nbsp;
    <hr/>
    <button onclick="location='/customer/add'" >Add</button>
    <br/><br/>

    <div class="page-data">
        <div class="data-table">
           <table border="1" cellpadding="7" cellspacing="7">
			<tr>
				<th width="20px">No</th>
				<th width="250px">Username</th>
				<th width="220px">Password</th>
				<th width="100px">Full Name</th>
				<th width="100px">Department</th>
				<th>Edit</th>
                <th>Delete</th>
			</tr>
			<% if(data.length){for(var i = 0;i < data.length;i++) { %>       
			<tr>
				<td><%=data[i]._id%></td>
				<td><%=data[i].username%></td>
				<td><%=data[i].password%></td>
				<td><%=data[i].full_name%></td>
				<td><%=data[i].department%></td>
				<td><button onclick="doEdit('<%=data[i]._id%>');" >Edit</button></td>
				<td><button onclick="doDelete('<%=data[i]._id %>');">Delete</button></td>
			</tr>
           <% }
            }else{ %>
                <tr>
                   <td colspan="7">No customer found</td>
                </tr>
           <% } %> 
           </table>
        </div>
       </div>
  </body>
</html>
